/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }
.btn-menuu{
  padding-left: 15px;
  border-radius: 5px;
  /* text-align: center !important; */
  /* padding: 4px; */
  transition: ease-in .4s;
  background: transparent;
}
.btn-menuu:hover{
  
  background: rgb(7, 88, 14);
}

.margenes{
  margin-bottom: 1px !important;

}

.logoMV{
  background: transparent !important;
  border: transparent;
}

.ir-arriba{
  width: 30px;
  height: 30px;
  /* background: lime; */
  /* border-radius: 50%; */
  bottom: 50px;
  right: 10px;
  position: fixed;
}
.ir-arriba img{
  height: 30px;
  /* transform: rotate(90deg); */
}

/* INICIO PARALLAX */

#plx{
  background: url(../img/cliente/parallax1.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#plx2{
  background: url(../img/cliente/parallax2.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wtitle{
  padding: 150px 20px;
}

.wtitle h2{
  font-size:36px;
  font-weight: bold;
  
}

/* FIN PARALLAX */